<div class="home-page" id="myDIV">
  <div class="home-banner">
    <div class="nav">
      <li class="nav-links dropdown">
        <a  class= 'dropdown-trigger btn' href="#!" data-target='dropdown1' id='navbarDropdown' data-toggle='dropdown'><i class="material-icons">menu</i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "See Profile", '#', class: "dropdown-item" %>
          <%= link_to "My Appointments", "#", class: "dropdown-item" %>
          <%= link_to "Log out",destroy_user_session_path, :method=> 'delete',class: "dropdown-item" %>
        </div>
      </li>
      <div class="nav-text">
        <img src="/assets/logo.png">
      </div>
    </div>
    <div class="home-left home-actions">
      <button class="btn-pink">I NEED<br>A DOCTOR</button>
    </div>
    <div class="home-right home-actions">
      <button id="trigger-vet" class="btn-pink">I NEED<br>A VET</button>
    </div>
    <button class="btn-transparent i-am-dr">I AM A DOCTOR</button>
  </div>
  <div class="home-about">
    <p class=about-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br>
    <br>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics.
    </p>
    <div class="buttons-bottom">
      <div class="bottom-left buttons-actions">
        <button title= "Go to top" class="btn-bottom" id = "myBtn">
          BACK ON TOP
        </button>
      </div>
      <%= javascript_pack_tag 'scrollup' %>
      <div class="bottom-right buttons-actions">
        <button class="btn-bottom">
          <%=link_to "CREATE ACCOUNT", new_user_registration_path %>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="appointment-modal">
  <div class="w3-contatiner w3-center w3-animate-right">
    <div id="form-language">
      <div class="row-text">
        <h3>Complete the form so that we <br> can find the best matched <br> doctor for you...</h3>
      </div>
        <div class="row-blue">
          <form action="/vets" method="get">
            <%= render "language" %>
            <%= render "type" %>
            <%= render "time" %>
            <%= render "geolocation" %>
            <%= render "symptom" %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home-forms' %>
<%= javascript_pack_tag 'geolocation' %>
