<div class="home-page">
  <div class="home-banner">
    <div class="nav">
      <div class="nav-logo">
        <img src="/assets/logo.png">
      </div>
    </div>
    <div class="login-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="email-input">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div class="password-input">
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="remember-me">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="login-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>
      <br>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

