<div id="appointment-new">
  <div class="appointments-container">
    <div class="nav">
      <li class="nav-links dropdown">
        <a  class= 'dropdown-trigger btn' href="#!" data-target='dropdown1' id='navbarDropdown' data-toggle='dropdown'><i class="material-icons">menu</i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "See Profile", '#', class: "dropdown-item" %>
          <%= link_to "My Appointments", "#", class: "dropdown-item" %>
          <%= link_to "Log out","#", class: "dropdown-item" %>
        </div>
      </li>
      <div class="nav-text-appointment-confirm">
        <h2>Are you sure you want Dr. <%= @vet.user.first_name %>?</h2>
        <i class="material-icons done-all">done_all</i>
      </div>
    </div>


    <div class="doctor-confirm-profile-card">
      <img src="https://images.unsplash.com/photo-1524593689594-aae2f26b75ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" class="doctor-picture">
      <div class="profile-card-info">
        <h2>Dr. <%= @vet.user.first_name %></h2>
        <p>Price: <%= @vet.rate %>
          <br>
          Address: <%= @vet.address %>
          <br>
          Languages spoken: <%= @vet.languages %>
        </p>
        <div class="btn-transparent more-info-btn">
          MORE INFO
        </div>
      </div>
    </div>
    <div class="confirm-buttons">
      <button class="no-im-not"><%=link_to "NO, I'M NOT.", vets_path%></button>
      <button class="yes-i-am" id="trigger-pet">YES, I'M SURE</button>
    </div>
  </div>
</div>

<div class="pet-container">
  <form action="/appointments" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="vet_id" id="address" value="<%= @vet.id %>">
    <%= render "pets_index" %>
  </form>
</div>



<%= javascript_pack_tag 'pet-form' %>
